.list {
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: var(--secondaryBg);
	border-right: 1px solid var(--border);
	transition: background-color 0.3s ease, border-color 0.3s ease;
}