.update-user {
	width: 40%;
	height: max-content;
	background-color: rgba(17, 25, 40, 0.781);
	border-radius: 10px;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 80px;
	.item {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;

		form {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 20px;

			input {
				width: 100%;
				padding: 20px;
				border: none;
				outline: none;
				background-color: rgba(17, 25, 40, 0.6);
				color: white;
				border-radius: 5px;
			}

			label {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				cursor: pointer;
				text-decoration: underline;

				img {
					width: 50px;
					height: 50px;
					border-radius: 10px;
					object-fit: cover;
					opacity: 0.6;
				}
			}
			.button-box {
				width: 100%;
				display: flex;
				flex-direction: row;
				gap: 20px;
				button {
					width: 100%;
					padding: 16px;
					border: none;
					background-color: #1f8ef1;
					color: white;
					border-radius: 5px;
					cursor: pointer;
					font-weight: 500;

					&:disabled {
						cursor: not-allowed;
						background-color: #1f8ff19c;
					}
					&:nth-child(2) {
						background-color: #bb3906;
						&:disabled {
							cursor: not-allowed;
							background-color: #e3662c9c;
						}
					}
				}
			}
		}
	}
}
